/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
   margin: 20px 2px;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  font-size: .85rem;
  color: green;
  margin: 0.5em 1.5em;
  display: block;
}

.story-user {
  color: orange;
  margin-left: 2em;

  display: block;
}

.trash-can:hover{
color: red;
}
